<IfModule mod_rewrite.c>
    RewriteEngine On

    # Let existing files and directories be served directly.
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Route all other requests to Laravel's public directory.
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Disable Directory listing
Options -Indexes

# Block files which need to be hidden
<Files ~ "\.(env|json|config.js|md|gitignore|gitattributes|lock|example)$">
    Order allow,deny
    Deny from all
</Files>

# Block specific files
<Files ~ "(artisan)$">
    Order allow,deny
    Deny from all
</Files>
